/* Remove default browser spacing */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation bar styling */
.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Banner image styling */
.banner img {
    width: 100%;
    height: auto;
    display: block;
}
